In [1]:
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
import tensorflow as tf
import pathlib
import numpy as np
import pandas as pd
import geopandas as gpd
import folium
import pathlib
import random
from functools import reduce
from collections import defaultdict

import pandas as pd
import geopandas as gpd
import folium
import shapely
import numpy as np
from IPython.display import display
import matplotlib.pyplot as plt
import xgboost
import sklearn.cluster

In [ ]:
# 데이터 전처리

In [28]:
#충전기 설치현황
file_path = 'c:/Users/oop04/taxio_image/'
p = pathlib.Path(file_path)

설치현황 = pd.read_csv(p.joinpath('01.광양시_충전기설치현황.csv'))
설치현황 = 설치현황[['이용대수', '급속/완속', 'lon', 'lat']]
설치현황['급속/완속'] = np.where(설치현황['급속/완속']=='급속',0,1) #급속 = 0, 완속 = 1
        
설치현황

    이용대수  급속/완속         lon        lat
0      2      0  127.568300  34.963002
1      1      0  127.583323  34.980334
2      5      1  127.689013  34.953759
3      2      1  127.716708  34.964032
4      2      1  127.732440  34.940444
5      1      1  127.582443  34.963334
6      2      1  127.750981  34.962506
7      1      1  127.760072  34.941198
8      2      1  127.725127  34.962147
9      1      1  127.580612  34.973057
10     1      1  127.721913  34.962806
11     1      1  127.699053  34.989479
12     2      0  127.580523  34.972300
13     1      1  127.685670  34.944650
14     1      0  127.691011  34.940027
15     2      0  127.718854  34.960699
16     4      1  127.714850  34.966210
17     2      1  127.576134  34.974887
18     3      1  127.688809  34.952244
19     2      0  127.694421  34.942039
20     2      1  127.723417  34.962668
21     1      0  127.770993  34.984890
22     1      0  127.770993  34.984890
23     1      0  127.768300  34.984695
24     1      0  127.768300  34.984695
25     1      1  127.758109  34.946130
26     1      0  127.587542  34.970164
27     2      0  127.587542  34.970164
28     1      0  127.698619  34.936225
29     2      0  127.699739  34.938525
30     2      1  127.699228  34.941020
31     1      0  127.694138  34.928488
32     2      0  127.692320  34.952065
33     1      0  127.692992  34.936355
34     3      1  127.692992  34.936355
35     1      0  127.697259  34.934237
36     1      0  127.695222  34.934223
37     2      0  127.690686  34.933274
38     1      0  127.691866  34.956315
39     1      0  127.612698  34.970095
40     2      1  127.612698  34.970095
41     1      0  127.610457  34.968399
42     3      1  127.610457  34.968399
43     2      1  127.591137  34.978306

In [27]:
#주차장 공간정보
file_path = 'c:/Users/oop04/taxio_image/'
p = pathlib.Path(file_path)

주차장 = pd.read_csv(p.joinpath('02.광양시_주차장_공간정보.csv'))
주차장 = 주차장.set_index("주차장명칭")
주차장 = 주차장[['면적', '주차면수', 'lon', 'lat']]
주차장

              면적   주차면수         lon        lat
주차장명칭
인동숲앞 주차장  4189.0  161.0  127.586883  34.970324
구터미널주차장   2968.0  125.0  127.695428  34.936252
구경찰서 주차장  2836.0   89.0  127.584586  34.975637
칠성1지구     1980.0   52.0  127.580683  34.970130
칠성1지구     1970.0   64.0  127.580707  34.972523
...          ...    ...         ...        ...
포석정위도로변    264.0   10.0  127.604822  35.079214
동곡산장옆     1212.0   60.0  127.613417  35.070673
하천첨주변     2381.0   96.0  127.611774  35.002759
회계분교      2090.0   66.0  127.674719  35.092388
회두마을입구     827.0   30.0  127.676139  35.090000

[235 rows x 4 columns]

In [29]:
#대중집합시설 야영장
file_path = 'c:/Users/oop04/taxio_image/'
p = pathlib.Path(file_path)

야영장 = pd.read_csv(p.joinpath('05.광양시_대중집합시설_야영장.csv'))
야영장 = 야영장[['소유주체(공공/민간)','lon', 'lat']]
야영장['소유주체(공공/민간)'] = np.where(야영장['소유주체(공공/민간)']=='민간',0,1) #민간 = 0, 공공 = 1
야영장

   소유주체(공공/민간)         lon        lat
0            0  127.601787  35.096566
1            0  127.710849  35.060546
2            0  127.631555  35.069553
3            0  127.562487  35.076193
4            1  127.591184  35.054216
5            1  127.581644  35.005226