In [1]:
"""import requests
import zipfile


def save_file(url, file_name):
  r = requests.get(url)
  with open(file_name, 'wb') as f:
    f.write(r.content)

    
save_file('https://courses.cs.washington.edu/courses/cse163/19sp/' +
          'files/lectures/05-13/data.zip', 'data.zip')
save_file('https://courses.cs.washington.edu/courses/cse163/19sp/' +
          'files/lectures/05-13/gz_2010_us_040_00_5m.json', 
          'gz_2010_us_040_00_5m.json')
save_file('https://courses.cs.washington.edu/courses/cse163/19sp/' +
          'files/lectures/05-13/stormhistory.csv', 'stormhistory.csv')

with zipfile.ZipFile("data.zip","r") as zip_ref:
    zip_ref.extractall()
    
!pip install --upgrade geopandas
!pip install --upgrade pyshp
!pip install --upgrade shapely
!pip install --upgrade descartes"""

Collecting geopandas
  Downloading https://files.pythonhosted.org/packages/f7/a4/e66aafbefcbb717813bf3a355c8c4fc3ed04ea1dd7feb2920f2f4f868921/geopandas-0.8.1-py2.py3-none-any.whl (962kB)
     |████████████████████████████████| 972kB 2.8MB/s
Collecting pyproj>=2.2.0
  Downloading https://files.pythonhosted.org/packages/e5/c3/071e080230ac4b6c64f1a2e2f9161c9737a2bc7b683d2c90b024825000c0/pyproj-2.6.1.post1-cp36-cp36m-manylinux2010_x86_64.whl (10.9MB)
     |████████████████████████████████| 10.9MB 18.6MB/s
Collecting fiona
  Downloading https://files.pythonhosted.org/packages/36/8b/e8b2c11bed5373c8e98edb85ce891b09aa1f4210fd451d0fb3696b7695a2/Fiona-1.8.17-cp36-cp36m-manylinux1_x86_64.whl (14.8MB)
     |████████████████████████████████| 14.8MB 293kB/s
Requirement already satisfied, skipping upgrade: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.1.2)
Requirement already satisfied, skipping upgrade: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.7.1)
Collecting cligj>=0.5
  Downloading https://files.pythonhosted.org/packages/e4/be/30a58b4b0733850280d01f8bd132591b4668ed5c7046761098d665ac2174/cligj-0.5.0-py3-none-any.whl
Requirement already satisfied, skipping upgrade: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.15.0)
Requirement already satisfied, skipping upgrade: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.1.2)
Collecting munch
  Downloading https://files.pythonhosted.org/packages/cc/ab/85d8da5c9a45e072301beb37ad7f833cd344e04c817d97e0cc75681d248f/munch-2.5.0-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (20.2.0)
Collecting click-plugins>=1.0
  Downloading https://files.pythonhosted.org/packages/e9/da/824b92d9942f4e472702488857914bdd50f73021efea15b4cad9aca8ecef/click_plugins-1.1.1-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.8.1)
Requirement already satisfied, skipping upgrade: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.18.5)
Installing collected packages: pyproj, cligj, munch, click-plugins, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.5.0 fiona-1.8.17 geopandas-0.8.1 munch-2.5.0 pyproj-2.6.1.post1
Collecting pyshp
  Downloading https://files.pythonhosted.org/packages/ca/1f/e9cc2c3fce32e2926581f8b6905831165235464c858ba550b6e9b8ef78c3/pyshp-2.1.2.tar.gz (217kB)
     |████████████████████████████████| 225kB 2.5MB/s
Building wheels for collected packages: pyshp
  Building wheel for pyshp (setup.py) ... done
  Created wheel for pyshp: filename=pyshp-2.1.2-cp36-none-any.whl size=36216 sha256=81894234459bfb2eb8808ef14e892b4e5c3a1b2199ab1aeb18054128f0d39167
  Stored in directory: /root/.cache/pip/wheels/96/6c/53/4112475adf3b831da97f083163d0f38ee6daac9c1b13f7afea
Successfully built pyshp
Installing collected packages: pyshp
Successfully installed pyshp-2.1.2
Requirement already up-to-date: shapely in /usr/local/lib/python3.6/dist-packages (1.7.1)
Requirement already up-to-date: descartes in /usr/local/lib/python3.6/dist-packages (1.1.0)
Requirement already satisfied, skipping upgrade: matplotlib in /usr/local/lib/python3.6/dist-packages (from descartes) (3.2.2)
Requirement already satisfied, skipping upgrade: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->descartes) (2.4.7)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->descartes) (2.8.1)
Requirement already satisfied, skipping upgrade: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->descartes) (0.10.0)
Requirement already satisfied, skipping upgrade: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from matplotlib->descartes) (1.18.5)
Requirement already satisfied, skipping upgrade: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->descartes) (1.2.0)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.1->matplotlib->descartes) (1.15.0)

In [2]:
from google.colab import drive
drive.mount('/gdrive',force_remount=True)

Mounted at /gdrive

In [1]:
%cd E:\yujin\INHA\data

E:\yujin\INHA\data

In [2]:
import pathlib
import numpy as np
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from shapely.geometry import Polygon, LineString, Point
from pandas import Series, DataFrame
import warnings
warnings.filterwarnings(action='ignore')

In [3]:
#gyboundary = gpd.read_file('/gdrive/My Drive/광양시 데이터/20.광양시_행정경계(읍면동).geojson')
gyboundary = gpd.read_file('20.광양시_행정경계(읍면동).geojson')
administrative = gyboundary.ADM_DR_NM.tolist()
gyboundary

   ADM_DR_CD ADM_DR_NM                                           geometry
0    3606031       봉강면  MULTIPOLYGON (((127.58037 35.10902, 127.58052 ...
1    3606032       옥룡면  MULTIPOLYGON (((127.59872 35.12006, 127.59919 ...
2    3606033       옥곡면  MULTIPOLYGON (((127.64878 35.03547, 127.64902 ...
3    3606034       진상면  MULTIPOLYGON (((127.65639 35.11680, 127.65698 ...
4    3606035       진월면  MULTIPOLYGON (((127.75715 35.05502, 127.75716 ...
5    3606036       다압면  MULTIPOLYGON (((127.64117 35.16850, 127.64140 ...
6    3606051       골약동  MULTIPOLYGON (((127.68056 34.92848, 127.68105 ...
7    3606053       중마동  MULTIPOLYGON (((127.70376 34.96198, 127.70542 ...
8    3606054       광영동  MULTIPOLYGON (((127.71676 34.96939, 127.71691 ...
9    3606055       태인동  MULTIPOLYGON (((127.76162 34.95988, 127.76163 ...
10   3606056       금호동  MULTIPOLYGON (((127.73203 34.95128, 127.73243 ...
11   3606011       광양읍  MULTIPOLYGON (((127.59070 34.91870, 127.59150 ...

In [4]:
#parkingLot = pd.read_csv('/gdrive/My Drive/광양시 데이터/02.광양시_주차장_공간정보.csv')
parkingLot = pd.read_csv('02.광양시_주차장_공간정보.csv')
parkingLot['lon'] = parkingLot['lon'].astype(float)
parkingLot['lat'] = parkingLot['lat'].astype(float)
parkingLot['geometry'] = parkingLot.apply(lambda row : Point([row['lon'], row['lat']]), axis=1)
parkingLot = gpd.GeoDataFrame(parkingLot, geometry='geometry')
parkingLot = parkingLot[['면적','주차면수','geometry']]
parkingLot.rename(columns={"면적":"area"}, inplace=True)

pllist = []
for i in range(len(parkingLot)):
    for j in range(len(gyboundary)):
        if parkingLot.geometry[i].within(gyboundary.geometry[j]) == True:
            pllist.append(gyboundary.ADM_DR_NM[j])

parkingLot['administration'] = pllist
parkingLot

       area   주차면수                    geometry administration
0    4189.0  161.0  POINT (127.58688 34.97032)            광양읍
1    2968.0  125.0  POINT (127.69543 34.93625)            중마동
2    2836.0   89.0  POINT (127.58459 34.97564)            광양읍
3    1980.0   52.0  POINT (127.58068 34.97013)            광양읍
4    1970.0   64.0  POINT (127.58071 34.97252)            광양읍
..      ...    ...                         ...            ...
230   264.0   10.0  POINT (127.60482 35.07921)            옥룡면
231  1212.0   60.0  POINT (127.61342 35.07067)            옥룡면
232  2381.0   96.0  POINT (127.61177 35.00276)            옥룡면
233  2090.0   66.0  POINT (127.67472 35.09239)            진상면
234   827.0   30.0  POINT (127.67614 35.09000)            진상면

[235 rows x 4 columns]

## 1) 충전기 없는 경우


환경부 2020년 전기자동차 보급 및 충전인프라 구축사업 충전인프라 설치운영지침에 따르면 해당 장소에 기 설치된 충전기가 없는 경우 해당 장소의 주차단위구획 수
× (0.01 + 해당 시‧도의 최근 3년간 신규 차량등록대수 분의 신규 전기차 등록대수) 까지 설치가 가능하다

전라남도청이 공개한 2019년 말 기준 광양시의 지난 3년간의 자동차 등록 현황 대수는 
87,990대(2019년 말) - 78,235대(2016년 9월 기준) = 9755대이다.

In [5]:
#chargingSpot = pd.read_csv('/gdrive/My Drive/광양시 데이터/01.광양시_충전기설치현황.csv')
chargingSpot = pd.read_csv('01.광양시_충전기설치현황.csv')
chargingSpot['lon'] = chargingSpot['lon'].astype(float)
chargingSpot['lat'] = chargingSpot['lat'].astype(float)
chargingSpot['geometry'] = chargingSpot.apply(lambda row : Point([row['lon'], row['lat']]), axis=1)
chargingSpot = gpd.GeoDataFrame(chargingSpot, geometry='geometry')
chargingSpot['급속/완속'] = np.where(chargingSpot['급속/완속']=='민간',0,1) #급속 = 0, 완속 = 1
chargingSpot = chargingSpot[['급속/완속','이용대수','geometry']]

cllist = []
for i in range(len(chargingSpot)):
    for j in range(len(gyboundary)):
        if chargingSpot.geometry[i].within(gyboundary.geometry[j]) == True:
            cllist.append(gyboundary.ADM_DR_NM[j])

chargingSpot['administration'] = cllist
chargingSpot

    급속/완속  이용대수                    geometry administration
0       1     2  POINT (127.56830 34.96300)            광양읍
1       1     1  POINT (127.58332 34.98033)            광양읍
2       1     5  POINT (127.68901 34.95376)            중마동
3       1     2  POINT (127.71671 34.96403)            광영동
4       1     2  POINT (127.73244 34.94044)            금호동
5       1     1  POINT (127.58244 34.96333)            광양읍
6       1     2  POINT (127.75098 34.96251)            진월면
7       1     1  POINT (127.76007 34.94120)            태인동
8       1     2  POINT (127.72513 34.96215)            광영동
9       1     1  POINT (127.58061 34.97306)            광양읍
10      1     1  POINT (127.72191 34.96281)            광영동
11      1     1  POINT (127.69905 34.98948)            옥곡면
12      1     2  POINT (127.58052 34.97230)            광양읍
13      1     1  POINT (127.68567 34.94465)            중마동
14      1     1  POINT (127.69101 34.94003)            중마동
15      1     2  POINT (127.71885 34.96070)            광영동
16      1     4  POINT (127.71485 34.96621)            광영동
17      1     2  POINT (127.57613 34.97489)            광양읍
18      1     3  POINT (127.68881 34.95224)            중마동
19      1     2  POINT (127.69442 34.94204)            중마동
20      1     2  POINT (127.72342 34.96267)            광영동
21      1     1  POINT (127.77099 34.98489)            진월면
22      1     1  POINT (127.77099 34.98489)            진월면
23      1     1  POINT (127.76830 34.98469)            진월면
24      1     1  POINT (127.76830 34.98469)            진월면
25      1     1  POINT (127.75811 34.94613)            태인동
26      1     1  POINT (127.58754 34.97016)            광양읍
27      1     2  POINT (127.58754 34.97016)            광양읍
28      1     1  POINT (127.69862 34.93622)            중마동
29      1     2  POINT (127.69974 34.93853)            중마동
30      1     2  POINT (127.69923 34.94102)            중마동
31      1     1  POINT (127.69414 34.92849)            중마동
32      1     2  POINT (127.69232 34.95207)            중마동
33      1     1  POINT (127.69299 34.93636)            중마동
34      1     3  POINT (127.69299 34.93636)            중마동
35      1     1  POINT (127.69726 34.93424)            중마동
36      1     1  POINT (127.69522 34.93422)            중마동
37      1     2  POINT (127.69069 34.93327)            중마동
38      1     1  POINT (127.69187 34.95632)            중마동
39      1     1  POINT (127.61270 34.97009)            광양읍
40      1     2  POINT (127.61270 34.97009)            광양읍
41      1     1  POINT (127.61046 34.96840)            광양읍
42      1     3  POINT (127.61046 34.96840)            광양읍
43      1     2  POINT (127.59114 34.97831)            광양읍

In [6]:
cslist = []
for i in range(len(gyboundary)):
    a = 0
    for j in range(len(chargingSpot)):
        if chargingSpot.administration[j] == gyboundary.ADM_DR_NM[i]:
            a +=  1
    cslist.append(a)
            

print(cslist)

[0, 0, 1, 0, 5, 0, 0, 16, 6, 2, 1, 13]

In [7]:
data = {'administration': administrative, 'supply' : cslist}
chargsup  = pd.DataFrame(data)
non = chargsup.supply == 0
nonCharging = chargsup[non]
nonCharging

  administration  supply
0            봉강면       0
1            옥룡면       0
3            진상면       0
5            다압면       0
6            골약동       0

In [8]:
#ElecCar = pd.read_csv('/gdrive/My Drive/광양시 데이터/06.광양시_전기차보급현황(연도별,읍면동별).csv')
ElecCar = pd.read_csv('06.광양시_전기차보급현황(연도별,읍면동별).csv')
adm = ElecCar.행정구역.unique()

In [9]:
#ElecCar = pd.read_csv('/gdrive/My Drive/광양시 데이터/06.광양시_전기차보급현황(연도별,읍면동별).csv')
x = []
y = []
z = []
q = []
for i in range(len(ElecCar)):
    if ElecCar.기준년도[i] == 2017:
        x.append(ElecCar.보급현황[i])
    elif ElecCar.기준년도[i] == 2018:
        y.append(ElecCar.보급현황[i])
    elif ElecCar.기준년도[i] == 2019:
        z.append(ElecCar.보급현황[i])
    else:
        q.append(ElecCar.보급현황[i])


data = {'administration': adm, '2017' : x, '2018' : y , "2019" : z, '2020': q}
ElecCar = pd.DataFrame(data)
ElecCar['2017'].astype('int')
ElecCar['2018'].astype('int')
ElecCar['2019'].astype('int')
ElecCar['2020'].astype('int')
ElecCar

   administration  2017  2018  2019  2020
0             광양읍    17     1    44    40
1             봉강면     0     0     4     0
2             옥룡면     3     0     3     5
3             옥곡면     3     0     2     3
4             진상면     1     0     2     2
5             진월면     1     0     2     2
6             다압면     0     0     0     0
7             골약동     2     1     1     0
8             중마동    17     8    27    26
9             광영동     3     0     6     3
10            태인동     1     0     0     0
11            금호동     5     0     9     9

In [10]:
elist = []
for i in range(len(ElecCar)):
    a = 0
    for j in range(1, len(ElecCar.columns)-1):
        if ElecCar.loc[i][j] < ElecCar.loc[i][j+1]:
            x = ElecCar.loc[i][j+1] - ElecCar.loc[i][j]
            a += x
    elist.append(a)

print(elist)

[43, 4, 5, 3, 2, 2, 0, 0, 19, 6, 0, 9]

In [11]:
administrative.remove('광양읍')
administrative.insert(0, '광양읍')
administrative

['광양읍',
 '봉강면',
 '옥룡면',
 '옥곡면',
 '진상면',
 '진월면',
 '다압면',
 '골약동',
 '중마동',
 '광영동',
 '태인동',
 '금호동']

In [12]:
data = {'administration': administrative, 'supply' : elist}
ElecCar_Supply = pd.DataFrame(data)
total = sum(ElecCar_Supply.supply) # 총 전기차 합계
ElecCar_Supply

   administration  supply
0             광양읍      43
1             봉강면       4
2             옥룡면       5
3             옥곡면       3
4             진상면       2
5             진월면       2
6             다압면       0
7             골약동       0
8             중마동      19
9             광영동       6
10            태인동       0
11            금호동       9

### 식 대입해서 계산
해당 장소의 주차단위구획 수 × (0.01 + 해당 시‧도의 최근 3년간 신규 차량등록대수 분의 신규 전기차 등록대수) 의 값이 1 이상인 경우

In [13]:
non = nonCharging.administration.tolist()
new_chargeparking = parkingLot[parkingLot.administration.isin(non)]
new_chargeparking

       area   주차면수                    geometry administration
92    530.0   18.0  POINT (127.68316 34.93816)            골약동
93   2363.0   80.0  POINT (127.65790 34.90943)            골약동
94   5440.0  220.0  POINT (127.66669 34.91149)            골약동
95    116.0    4.0  POINT (127.64741 34.92059)            골약동
128  1800.0   58.0  POINT (127.60508 35.04139)            옥룡면
129   495.0   20.0  POINT (127.61726 35.01384)            옥룡면
142   460.0   36.0  POINT (127.71404 34.99157)            진상면
143   397.0   17.0  POINT (127.71928 35.01842)            진상면
144  1530.0   46.0  POINT (127.67434 35.09507)            진상면
145  1122.0   20.0  POINT (127.71287 35.00518)            진상면
146   388.0    8.0  POINT (127.71869 35.01882)            진상면
153  1251.0   68.0  POINT (127.57241 35.08692)            봉강면
154   590.0   50.0  POINT (127.56726 35.08124)            봉강면
155  3031.0   73.0  POINT (127.56466 35.07915)            봉강면
222   713.0   40.0  POINT (127.56377 35.06243)            봉강면
223  3389.0  100.0  POINT (127.56412 35.07862)            봉강면
224  3210.0  100.0  POINT (127.57241 35.08692)            봉강면
225     NaN   52.0  POINT (127.56726 35.08124)            봉강면
226   590.0   15.0  POINT (127.56688 35.04202)            봉강면
227   720.0   30.0  POINT (127.61753 35.06838)            옥룡면
228  4702.0  135.0  POINT (127.59929 35.10153)            옥룡면
229  1603.0   80.0  POINT (127.59639 35.09324)            옥룡면
230   264.0   10.0  POINT (127.60482 35.07921)            옥룡면
231  1212.0   60.0  POINT (127.61342 35.07067)            옥룡면
232  2381.0   96.0  POINT (127.61177 35.00276)            옥룡면
233  2090.0   66.0  POINT (127.67472 35.09239)            진상면
234   827.0   30.0  POINT (127.67614 35.09000)            진상면

In [14]:
parkingArea = new_chargeparking.주차면수.tolist()

print(parkingArea)

[18.0, 80.0, 220.0, 4.0, 58.0, 20.0, 36.0, 17.0, 46.0, 20.0, 8.0, 68.0, 50.0, 73.0, 40.0, 100.0, 100.0, 52.0, 15.0, 30.0, 135.0, 80.0, 10.0, 60.0, 96.0, 66.0, 30.0]

In [15]:
non_chargeparking = new_chargeparking[['area', '주차면수', 'geometry', 'administration']]
palist = []
for i in parkingArea:
    x = i * (0.01 + (total/9755))
    palist.append(x)

non_chargeparking['weight'] = palist
non = non_chargeparking['weight'] >= 1
non_chargeparking = non_chargeparking[non]
non_chargeparking

       area   주차면수                    geometry administration    weight
93   2363.0   80.0  POINT (127.65790 34.90943)            골약동  1.562686
94   5440.0  220.0  POINT (127.66669 34.91149)            골약동  4.297386
128  1800.0   58.0  POINT (127.60508 35.04139)            옥룡면  1.132947
153  1251.0   68.0  POINT (127.57241 35.08692)            봉강면  1.328283
155  3031.0   73.0  POINT (127.56466 35.07915)            봉강면  1.425951
223  3389.0  100.0  POINT (127.56412 35.07862)            봉강면  1.953357
224  3210.0  100.0  POINT (127.57241 35.08692)            봉강면  1.953357
225     NaN   52.0  POINT (127.56726 35.08124)            봉강면  1.015746
228  4702.0  135.0  POINT (127.59929 35.10153)            옥룡면  2.637032
229  1603.0   80.0  POINT (127.59639 35.09324)            옥룡면  1.562686
231  1212.0   60.0  POINT (127.61342 35.07067)            옥룡면  1.172014
232  2381.0   96.0  POINT (127.61177 35.00276)            옥룡면  1.875223
233  2090.0   66.0  POINT (127.67472 35.09239)            진상면  1.289216

## 2) 설치된 충전소가 있는 경우

In [16]:
충전기 = pd.read_csv("01.광양시_충전기설치현황.csv")
충전기

,충전소명,충전소위치,충전기 운영기관,급속/완속,충전기용량,이용대수,충전기타입,요금정보(원/kw),lon,lat
0,LF스퀘어 광양점,전남 광양시 광양읍 순광로 466 1층,환경부(한국자동차환경협회),급속,200KW 동시충전,2,DC콤보,255.70,127.568300,34.963002
1,광양만권경제자유구역청,전남 광양시 광양읍 인덕로 1100(광양시 제2청사),환경부(한국자동차환경협회),급속,50KW,1,DC차데모/AC3상/DC콤보,255.70,127.583323,34.980334
2,광양송보파인빌5차아파트,전남 광양시 진등길 55-5 (마동 송보파인빌류 아파트) 501동~506동 상가동,케이티,완속,7kw/h,5,AC완속,170.00,127.689013,34.953759
3,광양시 모리스모텔,전남 광양시 광영로 118-1 지상주차장,차지비,완속,7kw/h,2,AC완속,250.00,127.716708,34.964032
4,광양시 백운쇼핑센타,전남 광양시 폭포사랑길 99 주차장,차지비,완속,7kw/h,2,AC완속,245.00,127.732440,34.940444
5,광양시 블루핸즈(광양정비센터),전남 광양시 광양읍 해광로 888 실외주차장,차지비,완속,7kw/h,1,AC완속,245.00,127.582443,34.963334
6,광양시 비치모텔,전남 광양시 진월면 백운1로 389 주차장,차지비,완속,7kw/h,2,AC완속,250.00,127.750981,34.962506
7,광양시 포스코 ICT 광양사업소,전남 광양시 태인4길 20 주차장,차지비,완속,7kw/h,1,AC완속,250.00,127.760072,34.941198
8,광양시 프라자모텔,전남 광양시 광영로 34,차지비,완속,7kw/h,2,AC완속,250.00,127.725127,34.962147
9,광양시 광양읍사무소,전남 광양시 광양읍 남등길 6,한국전기차충전서비스,완속,7kw/h,1,AC완속,255.70,127.580612,34.973057
10,광양시 광영동주민센터,전남 광양시 정수2길 47,한국전기차충전서비스,완속,7kw/h,1,AC완속,255.70,127.721913,34.962806
11,광양시 옥곡면사무소,전남 광양시 옥곡면 옥진로 656,한국전기차충전서비스,완속,7kw/h,1,AC완속,255.70,127.699053,34.989479
12,광양읍사무소 앞 주차장,전남 광양시 광양읍 칠성리 948-1,환경부(한국자동차환경협회),급속,200KW 동시충전,2,DC콤보,255.70,127.580523,34.972300
13,광양주공이차아파트,전남 광양시 구마9길 11(중동 중마2주공아파트),케이티,완속,7kw/h,1,AC완속,170.00,127.685670,34.944650
14,한국전력광양지사,전남 광양시 중동로 20,한국전력,급속,NaN,1,DC차데모/AC3상/DC콤보,191.73,127.691011,34.940027
15,광영 근린공원,전남 광양시 광영동 산41-3,한국전력,급속,NaN,2,DC차데모/AC3상/DC콤보,191.73,127.718854,34.960699
16,광영동 가야아파트,전남 광양시 가야로 380(광영동 가야아파트),케이티,완속,7kw/h,4,AC완속,170.00,127.714850,34.966210
17,구산칠성이편한세상,전남 광양시 광양읍 서북2길 115(구산리 칠성이편한세상),케이티,완속,7kw/h,2,AC완속,170.00,127.576134,34.974887
18,대광로제비앙2차 아파트,전남 광양시 진등3길 6 지하주차장 B1구역,케이티,완속,7kw/h,3,AC완속,170.00,127.688809,34.952244
19,대신증권앞 주차장,전남 광양시 중동 1358-1,환경부(한국자동차환경협회),급속,200KW 동시충전,2,DC콤보,255.70,127.694421,34.942039
20,마틴모텔,전남 광양시 새미골길 8-5 마틴모텔주차장,한국전기차충전서비스,완속,7kw/h,2,AC완속,255.70,127.723417,34.962668
21,섬진강휴게소(부산방향),전남 광양시 진월면 섬진강 매화로 141,환경부(한국자동차환경협회),급속,50KW,1,DC차데모/AC3상/DC콤보,255.70,127.770993,34.984890
22,섬진강휴게소(부산방향),전남 광양시 진월면 섬진강 매화로 141,환경부(한국자동차환경협회),급속,100KW,1,DC차데모/AC3상/DC콤보,255.70,127.770993,34.984890
23,섬진강휴게소(순천방향),전남 광양시 진월면 신답길 24-14,환경부(한국자동차환경협회),급속,100KW,1,DC차데모/AC3상/DC콤보,255.70,127.768300,34.984695
24,섬진강휴게소(순천방향),전남 광양시 진월면 신답길 24-14,환경부(한국자동차환경협회),급속,50KW,1,DC차데모/AC3상/DC콤보,255.70,127.768300,34.984695
25,쉐보레동광양지점서비스,전남 광양시 김시식지1길 1-18 외부주차장,한국전기차충전서비스,완속,7kw/h,1,AC완속,255.70,127.758109,34.946130
26,인동숲주차장,전남 광양시 광양읍 인서리 238 좌측주차장,환경부(한국자동차환경협회),급속,50KW,1,DC차데모/AC3상/DC콤보,255.70,127.587542,34.970164
27,인동숲주차장,전남 광양시 광양읍 인서리 238 좌측주차장,환경부(한국자동차환경협회),급속,100KW 동시충전,2,DC콤보,255.70,127.587542,34.970164
28,중마버스터미널 공영주차장,전남 광양시 공영로 91,환경부(한국자동차환경협회),급속,50KW,1,DC차데모/AC3상/DC콤보,255.70,127.698619,34.936225
29,중마상설시장 주차장,전남 광양시 주동 1732-3,환경부(한국자동차환경협회),급속,200KW 동시충전,2,DC콤보,255.70,127.699739,34.938525
30,호텔자바,전남 광양시 중동로 98 지하주차장,한국전기차충전서비스,완속,7kw/h,2,AC완속,255.70,127.699228,34.941020
31,홈플러스 광양점,전남 광양시 항만11로 70,한국전력,급속,NaN,1,DC차데모/AC3상/DC콤보,191.73,127.694138,34.928488
32,마동근린체육공원,전남 광양시 마동 주차장 입구 좌측,한국전력,급속,NaN,2,DC차데모/AC3상/DC콤보,191.73,127.692320,34.952065
33,광양중마호반리젠시빌,전남 광양시 공영로 39 실내지하 101103동 사이 지하주차장,한국전력,급속,NaN,1,DC차데모/AC3상/DC콤보,191.73,127.692992,34.936355
34,광양중마호반리젠시빌,전남 광양시 공영로 39 실내지하 101103동 사이 지하주차장,한국전력,완속,7kw/h,3,AC완속,191.73,127.692992,34.936355
35,태영1차 아파트,전남 광양시 광장로 112-11 실외노출 101동 관리사무소 앞,한국전력,급속,NaN,1,DC차데모/AC3상/DC콤보,191.73,127.697259,34.934237
36,태영2차 아파트,전남 광양시 광장로 120 실외노출 201동 관리사무소 앞,한국전력,급속,NaN,1,DC차데모/AC3상/DC콤보,191.73,127.695222,34.934223
37,성호2-1차 아파트,전남 광양시 광장로 70 실내지하 202동 앞 지하1층 우측,한국전력,급속,NaN,2,DC차데모/AC3상/DC콤보,191.73,127.690686,34.933274
38,송보파인빌 6차 아파트,전남 광양시 진등6길 51 정문 604동 앞,한국전력,급속,NaN,1,DC차데모/AC3상/DC콤보,191.73,127.691866,34.956315
39,송보파인빌 7차 아파트,전남 광양시 광양읍 와룡길 33 705동 707동 사이 주차장,한국전력,급속,NaN,1,DC차데모/AC3상/DC콤보,191.73,127.612698,34.970095
40,송보파인빌 7차 아파트,전남 광양시 광양읍 와룡길 33 705동 707동 사이 주차장,한국전력,완속,7kw/h,2,AC완속,191.73,127.612698,34.970095
41,남해오네뜨 아파트,전남 광양시 광양읍 와룡길 43 실내지하 109동 지하주차장 c15,한국전력,급속,NaN,1,DC차데모/AC3상/DC콤보,191.73,127.610457,34.968399
42,남해오네뜨 아파트,전남 광양시 광양읍 와룡길 43 실내지하 109동 지하주차장 c15,한국전력,완속,7kw/h,3,AC완속,191.73,127.610457,34.968399
43,광양읍 목성 주공아파트,전남 광양시 신재로 82 실외노출 관리사무소 뒷편 주차장,한국전력,완속,7kw/h,2,AC완속,191.73,127.591137,34.978306

In [17]:
주차장 = pd.read_csv('02.광양시_주차장_공간정보.csv')
주차장

        주차장명칭   구분      면적   주차면수 유료/무료          주소         lon        lat
0    인동숲앞 주차장   노외  4189.0  161.0    유료   인서리 237-1  127.586883  34.970324
1     구터미널주차장   노외  2968.0  125.0    유료     중동 1651  127.695428  34.936252
2    구경찰서 주차장   노외  2836.0   89.0    무료   읍내리 227-1  127.584586  34.975637
3       칠성1지구   노외  1980.0   52.0    무료   칠성리 962-1  127.580683  34.970130
4       칠성1지구   노외  1970.0   64.0    무료   칠성리 948-1  127.580707  34.972523
..        ...  ...     ...    ...   ...         ...         ...        ...
230   포석정위도로변  피서지   264.0   10.0    무료   동곡리 662-1  127.604822  35.079214
231     동곡산장옆  피서지  1212.0   60.0    무료     동곡리 549  127.613417  35.070673
232     하천첨주변  피서지  2381.0   96.0    무료   산남리 154-4  127.611774  35.002759
233      회계분교  피서지  2090.0   66.0    무료  진상 어치 1140  127.674719  35.092388
234    회두마을입구  피서지   827.0   30.0    무료   진상 어치 914  127.676139  35.090000

[235 rows x 8 columns]

In [32]:
#주차장 데이터에 현재 설치된 충전기가 포함되어 있는지 살펴보았는데 없음.
#1번 공식 그대로 적용

충전기_주차장 = []
for i in range(len(충전기)):
    for j in range(len(주차장)):
        if (충전기['lon'][i] == 주차장['lon'][j]) and (충전기['lat'][i] == 주차장['lat'][j]):
            충전기_주차장.append(j)
충전기_주차장

[]

In [33]:
#3년간 신규 전기차 등록대수
ElecCar_Supply

   administration  supply
0             광양읍      43
1             봉강면       4
2             옥룡면       5
3             옥곡면       3
4             진상면       2
5             진월면       2
6             다압면       0
7             골약동       0
8             중마동      19
9             광영동       6
10            태인동       0
11            금호동       9

In [40]:
ElecCar_Supply['supply'].sum()

93

In [37]:
parkingLot

       area   주차면수                    geometry administration
0    4189.0  161.0  POINT (127.58688 34.97032)            광양읍
1    2968.0  125.0  POINT (127.69543 34.93625)            중마동
2    2836.0   89.0  POINT (127.58459 34.97564)            광양읍
3    1980.0   52.0  POINT (127.58068 34.97013)            광양읍
4    1970.0   64.0  POINT (127.58071 34.97252)            광양읍
..      ...    ...                         ...            ...
230   264.0   10.0  POINT (127.60482 35.07921)            옥룡면
231  1212.0   60.0  POINT (127.61342 35.07067)            옥룡면
232  2381.0   96.0  POINT (127.61177 35.00276)            옥룡면
233  2090.0   66.0  POINT (127.67472 35.09239)            진상면
234   827.0   30.0  POINT (127.67614 35.09000)            진상면

[235 rows x 4 columns]

In [44]:
#해당 장소의 주차단위구획 수 × (0.01 + 해당 시‧도의 최근 3년간 신규 차량등록대수 분의 신규 전기차 등록대수)

weight_lst = []
for i in parkingLot['주차면수']:
    x = i * (0.01 + (ElecCar_Supply['supply'].sum()/9755))
    weight_lst.append(x)

parkingLot['weight'] = weight_lst
parkingLot

       area   주차면수                    geometry administration    weight
0    4189.0  161.0  POINT (127.58688 34.97032)            광양읍  3.144905
1    2968.0  125.0  POINT (127.69543 34.93625)            중마동  2.441697
2    2836.0   89.0  POINT (127.58459 34.97564)            광양읍  1.738488
3    1980.0   52.0  POINT (127.58068 34.97013)            광양읍  1.015746
4    1970.0   64.0  POINT (127.58071 34.97252)            광양읍  1.250149
..      ...    ...                         ...            ...       ...
230   264.0   10.0  POINT (127.60482 35.07921)            옥룡면  0.195336
231  1212.0   60.0  POINT (127.61342 35.07067)            옥룡면  1.172014
232  2381.0   96.0  POINT (127.61177 35.00276)            옥룡면  1.875223
233  2090.0   66.0  POINT (127.67472 35.09239)            진상면  1.289216
234   827.0   30.0  POINT (127.67614 35.09000)            진상면  0.586007

[235 rows x 5 columns]